#tab_grid {
  width: 670px;
  height: 868px;
  border: 5px solid #999;
  border-radius: 5px;
  display: grid;
  grid-template-columns: auto auto auto;
  padding: 1px;
  margin: auto;
  margin-top: 20px;
  background-color: #999;
  box-shadow: 0px 0px 20px white;
}

.block {
  height: 289px;
  width: 223px;
  font-size: 0.1px;
}

#p11 {
  background: url('assets/day4/11.jpg');
}

#p12 {
  background: url('assets/day4/12.jpg');
}

#p13 {
  background: url('assets/day4/13.jpg');
}

#p21 {
  background: url('assets/day4/21.jpg');
}

#p22 {
  background: url('assets/day4/22.jpg');
}

#p23 {
  background: url('assets/day4/23.jpg');
}

#p31 {
  background: url('assets/day4/31.jpg');
}

#p32 {
  background: url('assets/day4/32.jpg');
}

#p33 {
  background: url('assets/day4/33.jpg');
}

.flex-parent {
  display: flex;
}

.jc-center {
  justify-content: center;
}

#launch, #moves {
  width: 233px;
  margin: 20px;
  height: 40px;
  text-align: center;
  padding-top: 10px;
  color: black;
  border: 2px solid black;
	border-radius: 10px;
  background-color: #ffd1dc;
  cursor: pointer;
  font-family: 'Nunito';
  font-size: 25px;
  display: inline-block;
}

#launch:hover {
  color: #ba003e;
}

#btn {
  width: 100px;
  margin: auto;
  border: none;
  border-radius: 2px;
  margin-top: 10px;
  height: 40px;
  text-align: center;
  color: #ba003e;
  background-color: #ffd1dc;
  cursor: pointer;
  font-family: 'Nunito';
  font-size: 15px;
}

.overlay {
  opacity: 1;
  position: absolute;
  z-index: 0;
  top: 0;
  left: 0;
  width: 100vw;
  height: 130vh;
  background: rgba(0, 0, 0, .5);
}

.share {
  position: absolute;
  text-align: center;
  left: 0;
  right: 0;
  top: 30%;
  margin: auto;
  width: 20%;
  z-index: 1;
  padding: 1em;
  padding-top: 0px;
  background: white;
}

.share, .overlay {
  display: none;
}

.show-share {
  display: block;
}

#button {
	border: 2px solid black;
	border-radius: 10px;
	text-decoration: none;
  text-align: center;
	padding: 10px 20px;
	color: black;
  width: 10%;
  justify-content: center;  
  align-items: center;  
}

.button {
	border: 2px solid black;
	border-radius: 10px;
	text-decoration: none;
  text-align: center;
	padding: 10px 20px;
  margin: 10px;
	color: black;
  justify-content: center;  
  align-items: center;  
}

.bg-modal {
	background-color: rgba(0, 0, 0, 0.8);
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	display: none;
	justify-content: center;
	align-items: center;
}

.modal-contents {
	height: 250px;
	width: 500px;
	background-color: white;
	text-align: center;
	padding: 20px;
	position: relative;
	border-radius: 4px;
}

input {
	margin: 15px auto;
	display: block;
	width: 50%;
	padding: 8px;
	border: 1px solid gray;
}

.close {
	position: absolute;
	top: 0;
	right: 10px;
	font-size: 42px;
	color: #333;
	transform: rotate(45deg);
	cursor: pointer;
}

#bttn {
  background-color: #d1eeff;
	border: 2px solid white;
	border-radius: 30px;
	text-decoration: none;
	padding: 10px 28px;
	color: black;
	margin-top: 10px;
	display: inline-block;
}